@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap');

*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
  --color-1: #FFFBE8;
  --color-2: #B2AC87;
  --color-3: #4A4737;
  --color-4: #EB9945;
}

body {
  font-family: 'Inter', sans-serif;
  color: var(--color-3);
  font-size: 14px;
}

h1 {
  font-size: 42px;
  font-weight: 900;
  line-height: 1;
}

h2 {
  font-size: 28px;
  font-weight: 700;
  line-height: 1;
}

h3 {
  font-size: 20px;
  font-weight: 700;
  line-height: 1;
}

p {
  color: var(--color-2);
  line-height: 1.5;
}

.textbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 16px 22px;
  border-radius: 10px;
  background-color: var(--color-1);
  box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.15);
}

input {
  width: 100%;
  font: inherit;
  color: var(--color-3);
  border: none;
  background: none;
  outline: none;
}

::placeholder {
  color: var(--color-2);
}

.button {
  width: 100%;
  padding: 10px 13px;
  border-radius: 10px;
  background-color: var(--color-4);
  color: var(--color-1);
  font-weight: 700;
  box-shadow: 0px 3px 2px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: var(--color-3);
  border-radius: 3px;
}

::-webkit-scrollbar-thumb {
  background: var(--color-2);
  border-radius: 3px;
}