@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap');

*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
  --color-1: #FFFBE8;
  --color-2: #B2AC87;
  --color-3: #4A4737;
  --color-4: #EB9945;
}

body {
  font-family: 'Inter', sans-serif;
  color: var(--color-3);
  font-size: 14px;
}

h1 {
  font-size: 42px;
  font-weight: 900;
  line-height: 1;
}

h2 {
  font-size: 28px;
  font-weight: 700;
  line-height: 1;
}

h3 {
  font-size: 20px;
  font-weight: 700;
  line-height: 1;
}

p {
  color: var(--color-2);
  line-height: 1.5;
}