.tasks {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    overflow-y: auto;
    padding-right: 10px;
}

.task {
    position: relative;
    width: 100%;
    min-height: 120px;
    padding: 20px;
    border-radius: 3px;
    background-color: var(--color-1);
    box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

.task h2 {
    margin-bottom: 5px;
}

.task p {
    overflow: hidden;
}

.date {
    position: absolute;
    top: 23px; right: 28px;
    display: flex;
    justify-content: center;
    gap: 5px;
    font-size: 11px;
}

.marker {
    position: absolute;
    top: 0; right: 0;
    width: 6px;
    height: 100%;
    border-radius: 0 3px 3px 0;
    background-color: var(--color-4);
}